<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-success" href="/news">News App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/news/general">General<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/news/business">Business</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/news/science">Science</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/news/technology">Technology</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/news/health">Health</a>
        </li>
    
      
      </ul>

      <form class="form-inline my-2 my-lg-0" id="searchForm" action="results" method="GET">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search News" aria-label="Search" value="">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </nav>